.navlinks{
    margin-left: auto;
}

.navbar{
    background-color: #4c3b4d;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navIcon{
    background-color: #edc4ff;
    border-radius: 50%;
}
