.dashboard{
    display: flex;
    flex-direction: row;
    width: 75vw;
    justify-content: space-around;
    margin: auto;
}

.userImage{
    border-radius: 50%;
}



.heading{
    background-color: #4c3b4d;
    height: 36px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.contents{
    padding: 10px 15px;
    border: 1px solid #4c3b4d;
    width: 350px;
    height: 470px;
    overflow: scroll;
    overflow-x: hidden;
}

.userContents{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #4c3b4d;
    width: 350px;
    height: 470px;
}

.userDetails{
    width: 200px;
    margin-top: 50px;
}

.linkButtons{
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.buttons{
    display: flex;
    width: 70%;
    margin: auto;
}

.sessionWrap{
    display: flex;
    justify-content: space-between;
}
.session{
    border-radius: 5px;
    padding: 5px;
    color: #4c3b4d;
    font-weight: 700;
    width: 290px;
}
.session:hover{
    background-color: #4c3b4d;
    color: white;
    cursor: pointer;
}
.deleteIcon{
    margin-top: 10px;
    cursor: pointer;
    color: #d9534f;
}
.deleteIcon:hover{
    color: red;
}

.logoutButton{
    margin-left: auto;
    color: white;
}


@media only screen and (max-width: 1200px) {
    .dashboard {
      flex-direction: column;
      width: 99vw;
      align-items: center;
      margin-top: 20px;
    }

    .section{
        margin: 30px 0;
    }
  }