

.homepage{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; 
}


.contents{
  height: 500px;
  width: 600px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subHeading{
  text-align: center;
  font-size: 25px;
}

.heading{
  font-family: 'Carattere', cursive;
  font-size: 100px;
  text-align: center;
  margin: 10px 0 20px 0;
  color: #cc5800;
}

.description{
  font-size: 23px;
  text-align: justify;
  margin-bottom: 40px;
}

.formSection{
  display: flex;
  flex-direction: row;
}

.formInput{
  height: 40px;
  padding-left: 30px;
}

.formButton, .formButton:focus{
  height: 40px;
  width: 120px;
  background-color: #4c3b4d !important;
  border: none !important;
}

.formButton:hover{
  background-color: #2c232c !important;
}

.form{
  width: 400px;
}

.modalButtons{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: auto;
}

@media only screen and (max-width: 750px) {
  .homepage {
    flex-direction: column;
  }
  .contents{
    width: 350px;
  }
  .subHeading{
    font-size: 18px;
  }
  .heading{
    font-size: 60px;
  }
  .description{
    font-size: 16px;
  }
  .formButton, .formInput{
    height: 60px;
  }
}