.body{
    margin-top: -50px;
}

.sessionName{
    font-size: 30px;
    color: #4c3b4d;
    font-weight: 900;
    text-align: center;
    margin: 15px;
}

.sessionContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.sessionHistory {
	height: 70vh;
	overflow: scroll;
	border: 1px solid;
	border-radius: 10px;
	padding: 10px;
	width: 35vw;
}

.historyHeading {
	text-align: center;
	font-size: 20px;
}

.historyItems {
	text-decoration: none;
	margin: 10px 0 10px 0;
	cursor: pointer;
	border-radius: 5px;
	padding: 5px;
}

.historyItems:hover {
	background-color: #4c3b4d;
	color: white;
}

.formButton,
.formButton:focus {
	height: 40px;
	width: 180px;
	background-color: #4c3b4d !important;
	border: none !important;
}

.formButton:hover {
	background-color: #2c232c !important;
}

.form {
	width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 10px 0 10px 0;
}

.input {
	width: 350px;
}

@media only screen and (max-width: 750px) {
	.body {
		width: 100vw;
	}
	.sessionContainer {
		flex-direction: column;
		align-items: center;
	}

	.sessionHistory {
		width: 350px;
		height: 50vh;
		margin-bottom: 10px;
	}
}
