.question{
    width: 500px;
    height: 80vh;
    overflow-y: scroll;
    margin: 15px 30px 0 30px;
    display: inline-block;
}

.qHeading{
    font-size: 20px;
    margin: 5px 0 0 30px;
    font-weight: bold;
}

.monacoEditor{
    width: 800px;
    
}

.docContainer{
    display: flex;
    flex-direction: row;
}

.block{
    width: 700px;
    height: 500px;
    background-color: rgb(233, 177, 177);
}