.question{
    width: 600px;
    height: 76vh;
    overflow: scroll;
    margin: 30px;
    display: inline-block;
}

.docContainer{
    display: flex;
    flex-direction: row;
    margin-top: -50px;
}

.block{
    width: 700px;
    height: 500px;
    background-color: rgb(233, 177, 177);
}